/* Styles for the PostsDashboard React component */

.MuiButton-root.post-form__submit-button {
  background-color: #282c34;
  margin-top:  20px;
  margin-left : 60px;
}

.post-form__button-grid {
  line-height: 5;
}

.MuiTable-root.post-list {
  /* margin: auto;
  width: 400px; */
  margin-top: 5%;
  /* width: 1300px; */
  /* margin-left: 60px; */
}

.MuiButton-root.post-list__button{
  margin-top: 50px;
  margin-left : 100px;
  background-color: lightblue;
}

.post {
  margin-bottom: 5px;
  font-size: 150%;
}

.post .MuiTableCell-root {
  font-size: 0.75em;
  color: darkslategray;
}
