#info {
    padding: 40px;
    display: flex;
    align-items: center;
}

#basic-info {
    margin-left: 20%;
}

#username {
    font-size: 36px;
    font-weight: bold;
    display: block;

}

#description {
    margin-top: 10px;
    color: darkslategrey;
    display: block;

}


#profile-pic {
    margin-right: 20%;
    margin-left: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

#tabs {
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

#tabs .login__button {
    width: 250px;
}