ul.nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 30px;
    background-color: white;
}
  
li.nav_item{
    float: right;
}

li.nav_item a {
    display: block;
    color: rgb(5, 5, 5);
    font-family: "Helvetica";
    font-weight: 300;
    text-align: center;
    padding: 6.5px 16px;
    text-decoration: none;
}
  
li.nav_item a:hover {
    color : rgb(121, 133, 148);
}

img{
    height: 70vh;
}

.container {
    position: relative;
    text-align: center;
    
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(79, 68, 128);
    
}

.top-left {
    position: absolute;
    top: 30px;
    left: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(225, 207, 107);
    
}

.bottom-right {
    position: absolute;
    bottom: 160px;
    left: 400px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(25, 20, 48);
}

#search-box {
    position: relative;
}