#container {
    margin-top: 5%;
}

#submit {
    background-color: transparent;
    margin-top: 30px;
}

#sign-up-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#sign-up-title {
    margin-left: 20px;
}

#usertype-dropdown{
    margin-top: 15px;
    margin-bottom: 15px;
}