/* Styles for the PostForm React component */

.post-form {
  justify-content: center;
}

.post-form .MuiGrid-root {
  text-align: center;
}

.MuiButton-root.post-form__submit-button {
  background-color: #457474;
}

.post-form__button-grid {
  line-height: 5;
}
